@use '../utils/_mixins' as *;
@use '../utils/variables' as *;

.info {
    @include center-flex(column);

    width: 100%;
    height: 100%;
    gap: $default-gap;
    font-size: 2em;
    border: $border-thickness solid $border-color;
    border-radius: $border-radius;

    .settings {
        @include center-flex(column);

        gap: $default-gap;
        padding: $default-padding;
    }

    .result {
        @include center-flex(column);

        padding: $default-padding;
        gap: $default-gap;
    }
}

// Phone
@media only screen and (max-width: 800px) {
    .info {
        font-size: 1em;
        flex-direction: row;
    }
}
