@use '../utils/_mixins' as *;
@use '../utils/variables' as *;

.info {
    @include center-flex(column);

    width: 100%;
    height: 100%;
    gap: $default-gap;
    font-size: 2em;
    border: $border-thickness solid $border-color;
    border-radius: $border-radius;

    .settings {
        @include center-flex(column);

        width: 100%;
        gap: $default-gap;

        > .selections {
            text-align: right;
            gap: $default-gap;
            white-space: nowrap;
        }

        .start-button {
            align-self: center;
            text-align: center;
        }
    }

    .result-container {
        @include center-flex(column);
        padding: $default-padding;
        gap: $default-gap;

        .result {
            text-align: right;
            gap: $default-gap;
            white-space: nowrap;
        }
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .info {
        font-size: 1em;
        flex-direction: row;
    }
}
