@use '../utils/_mixins' as *;
@use '../utils/variables' as *;

.info {
    @include center-flex(column);
    align-items: stretch;
    border: $border-thickness solid $border-color;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    gap: $default-gap;
    font-size: 2em;

    .settings {
        @include center-flex(column);
        flex: 1;

        border: $border-thickness solid $border-color;
        border-radius: $border-radius;

        gap: $default-gap;

        > .selections {
            text-align: right;
            gap: $default-gap;
            white-space: nowrap;
        }
    }

    .result-container {
        @include center-flex(column);
        flex: 1;
        gap: $default-gap;
        border: $border-thickness solid $border-color;
        border-radius: $border-radius;

        .result {
            text-align: right;
            gap: $default-gap;
            white-space: nowrap;
        }
    }

    .button {
        align-self: center;
        text-align: center;
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .info {
        font-size: 1em;
        flex-direction: row;
    }
}
