@use '../utils/_mixins' as *;

.keyboard {
    @include center-flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    border: 2px solid greenyellow;

    &.rtl {
        flex-direction: row;
    }

    &.ltr {
        flex-direction: row-reverse;
    }

    .char-btn {
        @include center-flex;
        text-align: center;

        width: 4em;
        height: 5.5em;
        font-size: calc(1vh + 1vw);
        font-weight: bold;
        border-radius: 10px;
        line-height: 1;
        border: 1px solid white;
        padding: 10px;
        margin: 10px;
        cursor: pointer;

        &[data-clickable='false'] {
            cursor: not-allowed;
            opacity: 0.6;
        }

        &[data-color='correct'] {
            background-color: rgba(38, 135, 205, 0.73);
        }

        &[data-color='wrong'] {
            background-color: #a5a5a5;
        }
    }

    div:hover {
        background: white;
        color: black;
    }
}
