@use '../utils/_mixins' as *;
@use '../utils/_animations' as *;
@use '../utils/variables' as *;

.keyboard {
    @include center-flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    &.rtl {
        flex-direction: row;
    }

    &.ltr {
        flex-direction: row-reverse;
    }

    .char-btn {
        @include center-flex;
        text-align: center;

        width: 4em;
        height: 5.5em;
        font-size: calc(1vh + 1vw);
        font-weight: bold;
        line-height: 1;
        border: $border-thickness solid $border-color;
        border-radius: $border-radius;
        padding: $default-padding;
        margin: 10px;
        cursor: pointer;

        &[data-clickable='false'] {
            cursor: not-allowed;
            opacity: 0.6;
            color: white;
        }

        &[data-color='correct'] {
            background-color: $win-color;
            animation: correct-animation 0.5s ease;
        }

        &[data-color='wrong'] {
            background-color: $btn-not-clickable-color;
            animation: wrong-animation 0.5s ease;
        }
    }

    div:hover {
        background: $btn-hover-bg-color;
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .keyboard {
        .char-btn {
            width: 3em;
            height: 4em;
            font-size: calc(1vh + 1vw);
            padding: 5px;
            margin: 4px;
        }
    }
}
