.number-of-attempts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid purple;
    gap: 20px;

    .hangman-picture {
        max-height: 100px;
        max-width: 100px;
    }

    .mistakes {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
