.number-of-attempts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .hangman-picture {
        height: 45%;
        width: 45%;
    }

    .mistakes {
        font-size: 3em;
    }
}
