.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-width: 50%;

    .random-word {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        &.rtl {
            flex-direction: row;
        }

        &.ltr {
            flex-direction: row-reverse;
        }

        gap: 10px;
        .random-word-char {
            border-bottom: 3px solid white;
            width: 0.5em;
            height: 1em;
            font-size: 4em;
            text-align: center;
        }
    }
}
