@use '../utils/_mixins' as *;

.status {
    @include center-flex(column);

    gap: 20px;
    border: 2px solid greenyellow;
    height: 1em;
    width: 100%;

    .hangman-image {
        height: 70%;
        border: 2px solid greenyellow;
        width: 45%;
    }

    .attempts {
        border: 2px solid greenyellow;
        font-size: 4em;
    }
}

// Phone
@media only screen and (max-width: 800px) {
    .status {
        flex-direction: row;

        .hangman-image {
            height: auto;
            width: 30%;
        }

        .attempts {
            font-size: 3em;
        }
    }
}
