@use '../utils/_mixins' as *;

.status {
    @include center-flex(column);

    gap: 20px;
    height: 1em;
    width: 100%;

    .hangman-image {
        height: 70%;
        width: 45%;
    }

    .attempts {
        font-size: 4em;
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .status {
        flex-direction: row;

        .hangman-image {
            height: auto;
            width: 40%;
        }

        .attempts {
            font-size: 1.5em;
        }
    }
}
