@use '../utils/_mixins' as *;
@use '../utils/variables' as *;

.word-area {
    @include center-flex(column);

    .word {
        @include center-flex;

        height: 70%;
        max-width: 100%;
        padding: $default-padding;
        gap: $default-gap;

        &.rtl {
            flex-direction: row;
        }

        &.ltr {
            flex-direction: row-reverse;
        }

        .word-char {
            border-bottom: 3px solid black;
            width: 0.5em;
            height: 1em;
            font-size: 6em;
            text-align: center;
        }
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .word-area {
        flex-direction: row;

        .word {
            .word-char {
                font-size: 3em;
                width: 0.5em;
                height: 1em;
            }
        }
    }
}
