@use '../utils/_mixins' as *;
@use '../utils/variables' as *;

.random-word {
    @include center-flex(column);
    width: 100%;
    height: 100%;
}

.word-area {
    @include center-flex;
    flex-wrap: wrap;
    gap: 0;

    .word {
        @include center-flex;

        height: fit-content;
        max-width: 100%;
        padding: $default-padding;
        gap: $default-gap;

        &.rtl {
            flex-direction: row;
        }

        &.ltr {
            flex-direction: row-reverse;
        }

        .word-char {
            border-bottom: 3px solid black;
            width: 0.5em;
            height: 1em;
            font-size: 6em;
            text-align: center;
            padding-bottom: 5px;

            &[data-missing='true'] {
                color: $lose-color;
            }
        }
    }
}

// Phone
@media only screen and (max-width: 600px) {
    .word-area {
        .word {
            .word-char {
                font-size: 3em;
                width: 0.5em;
                height: 1em;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }
        }
    }
}
