@use 'components/_random-word';
@use 'components/_characters-options';
@use 'components/number-of-attempts-container';
@use 'components/_result';
@use 'components/_game-settings-container';

body {
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 90vh;
    max-width: 100vw;

    > *:nth-child(1) {
        flex: 1;
    }

    > *:nth-child(2) {
        flex: 12;
    }

    > *:nth-child(3) {
        flex: 7;
    }
}

h1 {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.game-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    width: 100%;
    min-height: 70%;

    > *:nth-child(1) {
        flex: 4;
        height: 100%;
    }

    > *:nth-child(2) {
        flex: 4;
        height: 100%;
    }

    > *:nth-child(3) {
        flex: 2;
        height: 100%;
    }
}
