@keyframes correct-animation {
  0% {
    background: rgba(38, 141, 205, 0.79);
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background: rgba(25, 112, 166, 0.72);
  }
  100% {
    background: rgba(38, 141, 205, 0.79);
    transform: scale(1);
  }
}
@keyframes wrong-animation {
  0% {
    background: #e15858;
    transform: rotate(0deg);
  }
  50% {
    background: #d12d2d;
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    background: #e15858;
    transform: rotate(0deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes lose-animation {
  0% {
    background: rgba(225, 88, 88, 0.65);
  }
  50% {
    background: rgba(209, 45, 45, 0.63);
  }
  100% {
    background: rgba(225, 88, 88, 0.65);
  }
}
@keyframes win-animation {
  0% {
    background: rgba(255, 255, 255, 0.66);
  }
  50% {
    background: rgba(58, 195, 58, 0.46);
  }
  100% {
    background: rgba(255, 255, 255, 0.64);
  }
}
.random-word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.word-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
.word-area .word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  max-width: 100%;
  padding: 20px;
  gap: 10px;
}
.word-area .word.rtl {
  flex-direction: row;
}
.word-area .word.ltr {
  flex-direction: row-reverse;
}
.word-area .word .word-char {
  border-bottom: 3px solid black;
  width: 0.5em;
  height: 1em;
  font-size: 6em;
  text-align: center;
  padding-bottom: 5px;
}
.word-area .word .word-char[data-missing=true] {
  color: #e15858;
}

@media only screen and (max-width: 600px) {
  .word-area .word .word-char {
    font-size: 3em;
    width: 0.5em;
    height: 1em;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.keyboard.rtl {
  flex-direction: row;
}
.keyboard.ltr {
  flex-direction: row-reverse;
}
.keyboard .char-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 4em;
  height: 5.5em;
  font-size: calc(1vh + 1vw);
  font-weight: bold;
  line-height: 1;
  border: 1px solid #bababa;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}
.keyboard .char-btn[data-clickable=false] {
  cursor: not-allowed;
  opacity: 0.6;
  color: white;
}
.keyboard .char-btn[data-color=correct] {
  background-color: rgba(38, 141, 205, 0.79);
  animation: correct-animation 0.5s ease;
}
.keyboard .char-btn[data-color=wrong] {
  background-color: #a5a5a5;
  animation: wrong-animation 0.5s ease;
}
.keyboard div:hover {
  background: white;
}

@media only screen and (max-width: 600px) {
  .keyboard .char-btn {
    width: 3em;
    height: 4em;
    font-size: calc(1vh + 1vw);
    padding: 5px;
    margin: 4px;
  }
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 1em;
  width: 100%;
  position: relative;
}
.status .hangman-image {
  height: auto;
  width: 80%;
}
.status .hangman-image img {
  width: 100%;
  height: 100%;
}
.status .attempts {
  font-size: 2em;
  position: absolute;
  top: 25%;
  right: 15%;
}

.endgame-message {
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 170%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-shadow: 0 0 5px black;
  z-index: 10;
  animation: fade-in 3s ease-in-out;
}
.endgame-message.loop {
  animation: pulse 2s infinite ease-in-out;
}
.endgame-message.win {
  color: rgba(38, 141, 205, 0.79);
}
.endgame-message.lose {
  color: #e15858;
}

@media only screen and (max-width: 600px) {
  .status {
    flex-direction: row;
  }
  .status .hangman-image {
    height: auto;
    width: 40%;
  }
  .status .attempts {
    font-size: 1.2em;
    top: 6%;
    right: 32%;
  }
  .status .endgame-message {
    font-size: 3rem;
    top: -35%;
    left: 50%;
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  gap: 10px;
  font-size: 2em;
}
.info .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.info .settings > .selections {
  text-align: right;
  gap: 10px;
  white-space: nowrap;
}
.info .settings > .selections select {
  appearance: none;
  border: 2px solid rgba(38, 135, 205, 0.7294117647);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  width: 50%;
  height: fit-content;
}
.info .result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.info .result-container .result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: right;
  gap: 10px;
  white-space: nowrap;
}
.info .btn {
  align-self: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgba(38, 135, 205, 0.7294117647);
  color: white;
  opacity: 0.8;
}
.info .btn:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
}
.info .reset-button {
  background: #e15858;
}

@media only screen and (max-width: 600px) {
  .info {
    border: 1px solid #bababa;
    border-radius: 10px;
    font-size: 1em;
    flex-direction: row;
  }
}
html {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #ededed;
  color: black;
}
body.win-background {
  animation: win-animation 1s ease infinite;
}
body.lose-background {
  animation: lose-animation 1s ease infinite;
}
body > *:nth-child(1) {
  flex: 1;
}
body > *:nth-child(2) {
  flex: 10;
}
body > *:nth-child(3) {
  flex: 9;
}
@media only screen and (max-width: 600px) {
  body > *:nth-child(1) {
    flex: 1;
  }
  body > *:nth-child(2) {
    flex: 13;
  }
  body > *:nth-child(3) {
    flex: 6;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 3em;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: 100%;
}
.game-board > *:nth-child(1) {
  flex: 3;
  height: 100%;
}
.game-board > *:nth-child(2) {
  flex: 5;
  height: 100%;
}
.game-board > *:nth-child(3) {
  flex: 2;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .game-board {
    flex-direction: column-reverse;
  }
  .game-board > *:nth-child(1) {
    flex: 2;
    height: 100%;
  }
  .game-board > *:nth-child(2) {
    flex: 7;
    height: 100%;
  }
  .game-board > *:nth-child(3) {
    flex: 3;
    height: 80%;
  }
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
