.word-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.word-area .word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70%;
  max-width: 100%;
  padding: 20px;
  gap: 10px;
}
.word-area .word.rtl {
  flex-direction: row;
}
.word-area .word.ltr {
  flex-direction: row-reverse;
}
.word-area .word .word-char {
  border-bottom: 3px solid black;
  width: 0.5em;
  height: 1em;
  font-size: 6em;
  text-align: center;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .word-area {
    flex-direction: row;
  }
  .word-area .word .word-char {
    font-size: 3em;
    width: 0.5em;
    height: 1em;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
@keyframes correct-animation {
  0% {
    background: rgba(38, 135, 205, 0.7294117647);
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background: #0c5580;
  }
  100% {
    background: rgba(38, 135, 205, 0.7294117647);
    transform: scale(1);
  }
}
@keyframes wrong-animation {
  0% {
    background: #e15858;
    transform: rotate(0deg);
  }
  50% {
    background: #d12d2d;
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    background: #e15858;
    transform: rotate(0deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.keyboard.rtl {
  flex-direction: row;
}
.keyboard.ltr {
  flex-direction: row-reverse;
}
.keyboard .char-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 4em;
  height: 5.5em;
  font-size: calc(1vh + 1vw);
  font-weight: bold;
  line-height: 1;
  border: 1px solid #bababa;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}
.keyboard .char-btn[data-clickable=false] {
  cursor: not-allowed;
  opacity: 0.6;
  color: white;
}
.keyboard .char-btn[data-color=correct] {
  background-color: rgba(38, 135, 205, 0.7294117647);
  animation: correct-animation 0.5s ease;
}
.keyboard .char-btn[data-color=wrong] {
  background-color: #a5a5a5;
  animation: wrong-animation 0.5s ease;
}
.keyboard div:hover {
  background: white;
}

@media only screen and (max-width: 600px) {
  .keyboard .char-btn {
    width: 3em;
    height: 4em;
    font-size: calc(1vh + 1vw);
    padding: 5px;
    margin: 4px;
  }
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 1em;
  width: 100%;
  position: relative;
}
.status .hangman-image {
  height: auto;
  width: 80%;
}
.status .attempts {
  margin: 40px 0;
  font-size: 2.5em;
}

.endgame-message {
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 170%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-shadow: 0 0 5px black;
  z-index: 10;
  animation: fade-in 3s ease-in-out;
}
.endgame-message.loop {
  animation: pulse 2s infinite ease-in-out;
}
.endgame-message.win {
  color: rgba(38, 135, 205, 0.7294117647);
}
.endgame-message.lose {
  color: #e15858;
}

@media only screen and (max-width: 600px) {
  .status {
    flex-direction: row;
  }
  .status .hangman-image {
    height: auto;
    width: 40%;
  }
  .status .attempts {
    font-size: 1.5em;
  }
  .status .endgame-message {
    font-size: 3rem;
    top: -15%;
    left: 50%;
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #bababa;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
  font-size: 2em;
}
.info .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.info .settings > .selections {
  text-align: right;
  gap: 10px;
  white-space: nowrap;
}
.info .result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.info .result-container .result {
  text-align: right;
  gap: 10px;
  white-space: nowrap;
}
.info .button {
  align-self: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .info {
    font-size: 1em;
    flex-direction: row;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 90vh;
  max-width: 100vw;
  background: #ededed;
  color: black;
}
body > *:nth-child(1) {
  flex: 1;
}
body > *:nth-child(2) {
  flex: 10;
}
body > *:nth-child(3) {
  flex: 9;
}
@media only screen and (max-width: 600px) {
  body > *:nth-child(1) {
    flex: 1;
  }
  body > *:nth-child(2) {
    flex: 13;
  }
  body > *:nth-child(3) {
    flex: 6;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 3em;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  width: 100%;
  min-height: 70%;
  height: 100%;
}
.game-board > *:nth-child(1) {
  flex: 3;
  height: 100%;
}
.game-board > *:nth-child(2) {
  flex: 5;
  height: 100%;
}
.game-board > *:nth-child(3) {
  flex: 2;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .game-board {
    flex-direction: column-reverse;
  }
  .game-board > *:nth-child(1) {
    flex: 2;
    height: 100%;
  }
  .game-board > *:nth-child(2) {
    flex: 7;
    height: 100%;
  }
  .game-board > *:nth-child(3) {
    flex: 3;
    height: 80%;
  }
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
